<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>Calendar</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/zsh-calendar.css">
</head>
<body>
    <h1 style="text-align: center;">Calendar</h1>
    <div id="calendar" class="zsh-cal" v-cloak>
        <div class="zsh-cal-date">{{cal_date_display}}</div>
        <div class="zsh-cal-nav">
            <span class="zsh-cal-prev btn btn-default" v-on:click="calToday()">今日</span>
            <span class="zsh-cal-prev btn btn-default" v-on:click="calPrev()">&lt;</span>
            <span class="zsh-cal-prev btn btn-default" v-on:click="calNext()">&gt;</span>
        </div>
        <div class="zsh-cal-content">
            <div class="zsh-cal-conHead">
                <div v-for="calHead in cal_header" v-bind:class="[calHead.holiday == true ? 'zsh-cal-holiday' : '']">{{calHead.display}}</div>
            </div>
            <div class="zsh-cal-conBody">
                <div v-for="(calData, calIndex) in cal_data" class="zsh-cal-conRw">
                    <div class="zsh-cal-conCeWr">
                        <div
                        v-for="calD in calData"
                        :class="[
                        'zsh-cal-conCe',
                        calD.holiday == true ? 'zsh-cal-holiday' : '',
                        calD.date == cal_today ? 'zsh-cal-today' : ''
                        ]"
                        :data-date="calD.date"
                        >
                            <div class="calD-day"><span>{{calD.day}}</span></div>
                        </div>
                    </div>
                    <div class="zsh-cal-evWr">
                        <div
                        v-for="(calEv, calEvIndex) in cal_row_events[calIndex]"
                        class="zsh-cal-evD"
                        >
                            <div v-if="calEv.length <= 4">
                                <div
                                v-for="(calEvd, calEvdIndex) in calEv"
                                :class="[
                                'zsh-cal-ev',
                                calEvd.event_class,
                                calEvd.btw_class
                                ]"
                                :style="{top: calEvd.s_zindex + 'em'}"
                                >
                                    <div class="zsh-cal-evCon">
                                        {{calEvd.subject}}
                                    </div>
                                </div>
                            </div>
                            <div v-else>
                                <div
                                v-for="(calEvd, calEvdIndex) in calEv.slice(0,3)"
                                :class="[
                                'zsh-cal-ev',
                                calEvd.event_class,
                                calEvd.btw_class
                                ]"
                                :style="{top: calEvd.s_zindex + 'em'}"
                                >
                                    <div class="zsh-cal-evCon">
                                        {{calEvd.subject}}
                                    </div>
                                </div>
                                <div
                                :class="[
                                'zsh-cal-ev-more',
                                'zsh-cal-ev-more-' + calEvIndex,
                                ]"
                                >
                                    他 {{calEv.length - 3}} 件
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/vue-calendar.js"></script>
    <script src="js/usr-calendar.js"></script>
</body>
</html>