@charset "UTF-8";
@import "compass";

$cellWidth: 14.3%;
$cellHeight: 140px;

.zsh-cal {
    padding: 10px;
    font-size: 12px;
    .zsh-cal-date {
        text-align: center;
        padding: 10px;
    }
    .zsh-cal-nav {
        padding: 10px 0;
    }
    .zsh-cal-content {
        .zsh-cal-conHead {
            display: flex;
            border-top: #CCC 1px solid;
            border-right: #CCC 1px solid;
            div {
                padding: 5px 0;
                width: 14.3%;
                text-align: center;
                border-left: #CCC 1px solid;
                border-bottom: #CCC 1px solid;
            }
        }
        .zsh-cal-conBody {
            .zsh-cal-conRw {
                width: 100%;
                height: $cellHeight;
                border-right: #CCC 1px solid;
                position: relative;
                overflow: hidden;
                .zsh-cal-conCeWr {
                    position: absolute;
                    width: 100%;
                    top: 0;
                    left: 0;
                    display: flex;
                }
                .zsh-cal-conCe {
                    width: $cellWidth;
                    height: $cellHeight;
                    border-left: #CCC 1px solid;
                    border-bottom: #CCC 1px solid;
                    position: relative;
                }
                .zsh-cal-evWr {
                    width: 100%;
                    position: absolute;
                    top: 35px;
                    left: 0;
                    z-index: 0;
                    flex: 1 1 0%;
                    height: 4em;
                    font-size: 24px;
                    .zsh-cal-evD {
                    }
                    .zsh-cal-ev {
                        position: absolute;
                        padding-right: 8px;
                        width: $cellWidth;
                        height: 24px;
                        box-sizing: border-box;
                        pointer-events: none;
                        z-index: 2;
                    }
                    .zsh-cal-evCon {
                        height: 22px;
                        padding: 0 8px;
                        line-height: 20px;
                        font-size: 12px;
                        line-height: 2;
                        -webkit-border-radius: 4px;
                                border-radius: 4px;
                        box-sizing: border-box;
                        pointer-events: auto;
                        overflow: hidden;
                        outline: none;
                        background-color: #c6dafc;
                        cursor: pointer;
                        a {
                            display: block;
                        }
                    }
                    .zsh-cal-ev-more {
                        top: 7em;
                        position: absolute;
                        font-size: 12px;
                        z-index: 3;
                        width: $cellWidth;
                        text-align: center;
                        cursor: pointer;
                    }
                    @for $i from 1 through 7 {
                        .zsh-cal-ev-#{$i} {
                            left: $cellWidth * $i;
                            z-index: 7 - $i;
                        }
                        .zsh-cal-ev-more-#{$i} {
                            left: $cellWidth * $i;
                        }
                    }
                    .zsh-cal-ev-0 {
                        z-index: 7;
                    }
                    .zsh-cal-btw-0 {
                        width: $cellWidth;
                    }
                    @for $i from 1 through 7 {
                        .zsh-cal-btw-#{$i} {
                            width: $cellWidth * $i;
                        }
                    }
                }
            }
        }
        table {
            width: 100%;
            border-top: #CCC 1px solid;
            border-right: #CCC 1px solid;
            th, td {
                border-left: #CCC 1px solid;
                border-bottom: #CCC 1px solid;
            }
            thead {
                th, td {
                    padding: 5px 10px;
                    text-align: center;
                }
            }
            tbody {
                td {
                    padding: 10px;
                    height: $cellHeight;
                    position: relative;
                    .calD-day {
                        font-size: 0.9em;
                        position: absolute;
                        top: 8px;
                        right: 8px;
                        span {
                            display: inline-block;
                            text-align: center;
                            width: 24px;
                            height: 24px;
                            line-height: 24px;
                            margin: auto;
                        }
                    }
                }
                .zsh-cal-today {
                    .calD-day {
                        span {
                            -webkit-border-radius: 50%;
                                    border-radius: 50%;
                            background-color: #337ab7;
                            color: #FFF;
                        }
                    }
                }
            }
        }
    }
    .calD-day {
        font-size: 0.9em;
        position: absolute;
        top: 8px;
        right: 8px;
        span {
            display: inline-block;
            text-align: center;
            width: 24px;
            height: 24px;
            line-height: 24px;
            margin: auto;
        }
    }
    .zsh-cal-today {
        .calD-day {
            span {
                -webkit-border-radius: 50%;
                        border-radius: 50%;
                background-color: #337ab7;
                color: #FFF;
            }
        }
    }
    .zsh-cal-holiday {
        background-color: #EEE;
    }
}